CANAL FEEDBACK DISCORD - COMPLETO.json
{
  "name": "CANAL FEEDBACK DISCORD - COMPLETO",
  "nodes": [
    {
      "parameters": {
        "guildIds": ["1264117533267726399"],
        "channelIds": ["1264122414397390901"],
        "pattern": "every",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [-800, 0],
      "id": "trigger-1",
      "name": "Discord Trigger - Novas Mensagens",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "jFOx9KRo5OnjyTA1",
          "name": "Discord Bot Trigger account new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.attachments[0].attachment }}",
              "rightValue": "cdn.discordapp.com/attachments",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 0],
      "id": "check-image-1",
      "name": "Tem Imagem?"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "text": "Descreva detalhadamente o conteúdo desta imagem de feedback.",
        "imageUrls": "={{ $('Discord Trigger - Novas Mensagens').item.json.attachments[0].attachment }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-320, -100],
      "id": "analyze-image-1",
      "name": "Analisar Imagem",
      "credentials": {
        "openAiApi": {
          "id": "LR6ad770zEenwHPn",
          "name": "Blazerd openai"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do usuário: {{ $('Discord Trigger - Novas Mensagens').item.json.content }}\n\nConteúdo da imagem (se houver): {{ $json.content }}",
        "options": {
          "systemMessage": "🧩 PROMPT DE JULGAMENTO DE FEEDBACK — BLAZERD STORE\n\n🎯 OBJETIVO\nSeu papel é analisar mensagens e imagens de feedback enviadas por clientes e classificar em três categorias:\n- POSITIVO\n- POSSO_PERDER_CLIENTE\n- NEGATIVO\n\nVocê deve julgar com base no texto e/ou imagem.\nO foco é proteger o servidor e a imagem da marca, evitando punir feedbacks construtivos.\n\n🟢 1. POSITIVO\nUse esta categoria se:\n- O cliente elogia o bot, o suporte ou o serviço;\n- Dá sugestões educadas;\n- Envia apenas uma imagem mostrando o produto funcionando;\n- Diz algo neutro, sem risco de prejudicar vendas.\n\n🟡 2. POSSO_PERDER_CLIENTE\nUse esta categoria se:\n- O cliente não está sendo ofensivo, mas faz comentários negativos sobre o produto que podem afastar novos clientes;\n- Reclama de banimento, demora, erro, mas ainda de forma moderada.\n\n🔴 3. NEGATIVO\nUse esta categoria se:\n- O usuário está ofendendo, acusando ou tentando prejudicar a imagem da loja;\n- Usa palavras agressivas ou ofensivas;\n- Chama o produto de scam, lixo, roubo.\n\nResponda APENAS com um JSON:\n{\n    \"classificacao\": \"POSITIVO\" | \"POSSO_PERDER_CLIENTE\" | \"NEGATIVO\",\n    \"motivo\": \"Breve explicação\",\n    \"confianca\": 0.0 a 1.0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-80, 0],
      "id": "ai-agent-1",
      "name": "AI Agent - Classificar Feedback"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-80, 220],
      "id": "openai-model-1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LR6ad770zEenwHPn",
          "name": "Blazerd openai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair classificação do JSON\nconst output = $input.first().json.output;\n\nlet result = {\n  classificacao: 'POSITIVO',\n  motivo: 'Não foi possível analisar',\n  confianca: 0\n};\n\ntry {\n  // Tentar parsear JSON da resposta\n  let jsonStr = output;\n  if (output.includes('```json')) {\n    jsonStr = output.split('```json')[1].split('```')[0];\n  } else if (output.includes('```')) {\n    jsonStr = output.split('```')[1].split('```')[0];\n  }\n  \n  result = JSON.parse(jsonStr.trim());\n} catch (e) {\n  // Se não conseguir parsear, tentar extrair manualmente\n  if (output.toUpperCase().includes('NEGATIVO')) {\n    result.classificacao = 'NEGATIVO';\n  } else if (output.toUpperCase().includes('POSSO_PERDER_CLIENTE')) {\n    result.classificacao = 'POSSO_PERDER_CLIENTE';\n  }\n  result.motivo = output;\n}\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 0],
      "id": "parse-result-1",
      "name": "Parsear Resultado"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.classificacao }}",
              "value2": "POSITIVO",
              "operation": "equals"
            }
          ]
        },
        "combineOperation": "any"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [400, 0],
      "id": "switch-1",
      "name": "Switch Classificação",
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "POSITIVO",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "POSITIVO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "POSSO_PERDER_CLIENTE",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "POSSO_PERDER_CLIENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "NEGATIVO",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.classificacao }}",
                    "rightValue": "NEGATIVO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}",
          "mode": "id"
        },
        "content": "🎉 **Obrigado pelo seu feedback positivo!**\n\n🎁 Cupom de 5% off: **E9GSMSBS**\n🔗 https://blazerdstore.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [680, -200],
      "id": "send-coupon-1",
      "name": "Enviar Cupom (Positivo)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1264122414397390901",
          "mode": "id"
        },
        "messageId": "={{ $('Discord Trigger - Novas Mensagens').item.json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [680, 0],
      "id": "delete-msg-medio-1",
      "name": "Deletar Msg (Médio)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}",
          "mode": "id"
        },
        "content": "⚠️ **AVISO - BLAZERD STORE**\n\nSua mensagem no canal de feedback foi removida.\n\n📋 **Motivo:** O conteúdo pode prejudicar a imagem da loja\n⏰ **Ação:** Por favor, aguarde 30 minutos e envie um feedback POSITIVO para obter seu desconto.\n\n💡 Se tiver problemas com o produto, entre em contato com o suporte diretamente.\n\n🎁 Cupom de 5% off após enviar feedback positivo: **E9GSMSBS**",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [920, 0],
      "id": "warn-user-medio-1",
      "name": "Avisar Usuário (Médio)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "706961725013885011",
          "mode": "id"
        },
        "content": "=📊 **RELATÓRIO DE FEEDBACK MODERADO**\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🟡 **Classificação:** POSSO_PERDER_CLIENTE\n📈 **Confiança da IA:** {{ $('Parsear Resultado').item.json.confianca * 100 }}%\n\n👤 **Usuário:** {{ $('Discord Trigger - Novas Mensagens').item.json.authorName }}\n🆔 **ID do Usuário:** {{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}\n\n💬 **Conteúdo:** {{ $('Discord Trigger - Novas Mensagens').item.json.content }}\n\n🤖 **Motivo da IA:** {{ $('Parsear Resultado').item.json.motivo }}\n\n⚡ **Ação Tomada:** Mensagem excluída\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1160, 0],
      "id": "report-leader-medio-1",
      "name": "Relatório Líder (Médio)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1264122414397390901",
          "mode": "id"
        },
        "messageId": "={{ $('Discord Trigger - Novas Mensagens').item.json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [680, 200],
      "id": "delete-msg-negativo-1",
      "name": "Deletar Msg (Negativo)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://discord.com/api/v10/guilds/1264117533267726399/members/{{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "communication_disabled_until",
              "value": "={{ new Date(Date.now() + 30 * 60 * 1000).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200],
      "id": "timeout-user-1",
      "name": "Silenciar Usuário (30 min)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "discord-bot-auth",
          "name": "Discord Bot Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}",
          "mode": "id"
        },
        "content": "⚠️ **AVISO - BLAZERD STORE**\n\nSua mensagem no canal de feedback foi removida por violar as regras do servidor.\n\n📋 **Regra violada:** Feedback ofensivo/prejudicial à loja\n⏰ **Consequência:** Você foi silenciado por 30 minutos\n\n🚨 **ATENÇÃO:** Se continuar quebrando as regras, você será **BANIDO PERMANENTEMENTE** do servidor.\n\nSe acredita que isso foi um erro, entre em contato com o suporte após o período de silenciamento.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1160, 200],
      "id": "warn-user-negativo-1",
      "name": "Avisar Usuário (Negativo)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1264117533267726399",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "706961725013885011",
          "mode": "id"
        },
        "content": "=📊 **RELATÓRIO DE FEEDBACK MODERADO**\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔴 **Classificação:** NEGATIVO\n📈 **Confiança da IA:** {{ $('Parsear Resultado').item.json.confianca * 100 }}%\n\n👤 **Usuário:** {{ $('Discord Trigger - Novas Mensagens').item.json.authorName }}\n🆔 **ID do Usuário:** {{ $('Discord Trigger - Novas Mensagens').item.json.authorId }}\n\n💬 **Conteúdo:** {{ $('Discord Trigger - Novas Mensagens').item.json.content }}\n\n🤖 **Motivo da IA:** {{ $('Parsear Resultado').item.json.motivo }}\n\n⚡ **Ação Tomada:** Mensagem excluída + Silenciado por 30 min\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1400, 200],
      "id": "report-leader-negativo-1",
      "name": "Relatório Líder (Negativo)",
      "credentials": {
        "discordBotApi": {
          "id": "AB2BRvGRemKeU2CT",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🤖 MODERAÇÃO DE FEEDBACK - BLAZERD STORE\n\nEste fluxo:\n1. Recebe nova mensagem no canal de feedback\n2. Analisa com GPT-4 Vision (texto + imagem)\n3. Classifica: POSITIVO, MÉDIO ou NEGATIVO\n4. Toma ação apropriada:\n   - POSITIVO: Envia cupom\n   - MÉDIO: Exclui msg + avisa\n   - NEGATIVO: Exclui + silencia + avisa\n5. Envia relatório ao líder\n\n⚠️ NOTA: Para detecção de edição de mensagens,\nuse o bot Python (feedback_moderation_bot.py)",
        "height": 400,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1100, -200],
      "id": "sticky-note-1",
      "name": "Instruções"
    }
  ],
  "pinData": {},
  "connections": {
    "Discord Trigger - Novas Mensagens": {
      "main": [
        [
          {
            "node": "Tem Imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Imagem?": {
      "main": [
        [
          {
            "node": "Analisar Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Classificar Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Imagem": {
      "main": [
        [
          {
            "node": "AI Agent - Classificar Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Classificar Feedback": {
      "main": [
        [
          {
            "node": "Parsear Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Classificar Feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Resultado": {
      "main": [
        [
          {
            "node": "Switch Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Classificação": {
      "main": [
        [
          {
            "node": "Enviar Cupom (Positivo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deletar Msg (Médio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deletar Msg (Negativo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Msg (Médio)": {
      "main": [
        [
          {
            "node": "Avisar Usuário (Médio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Usuário (Médio)": {
      "main": [
        [
          {
            "node": "Relatório Líder (Médio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Msg (Negativo)": {
      "main": [
        [
          {
            "node": "Silenciar Usuário (30 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silenciar Usuário (30 min)": {
      "main": [
        [
          {
            "node": "Avisar Usuário (Negativo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Usuário (Negativo)": {
      "main": [
        [
          {
            "node": "Relatório Líder (Negativo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "feedback-moderation-v2",
  "tags": []
}
